.slider{
    padding: 5% 0;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgb(38, 2, 104);
}

div{
    border: 3px solid red;
}

input{
    opacity: 0;
}
img{
    object-fit: cover;
    transition: all 1s ease-in-out;
    margin-right: 20%;
    width: 100%;
    height: 100%;
}

.slider-viewer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: auto;
    height: auto;
    max-height: 70vh;
    max-width: 70%;
    overflow: hidden;
}

.slider-viewer img{
    position: relative;
}

.buttom{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: auto;
    height: auto;
    max-height: 70vh;
    max-width: 70%;
    justify-content: space-between;
}

.text{
    color: white;
    overflow: hidden;
    display: flex;
    width: 70%;
    height: 10%;
}
p{
    transition: all 1s ease-in-out;
    position: relative;
    margin-right: 100%;
}

.bullets{
    width: 30%;
    display: flex;
}

.bullet{
    cursor: pointer;

}

.bullet input{
    cursor: pointer;
    opacity: 0.2;
}

.checkmark{
    margin: 0.5em;
    display: block;
    width: 5px;
    height: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(74, 101, 255);
    background-color: rgb(74, 101, 255);
}

#r1:checked ~ .buttom > .bullets > .bullet1 > span,
#r2:checked ~ .buttom > .bullets > .bullet2 > span,
#r3:checked ~.buttom > .bullets > .bullet3 > span,
#r4:checked ~.buttom > .bullets > .bullet4 > span,
#r5:checked ~.buttom > .bullets > .bullet5 > span{
    background-color: white  ;
}

#r1:checked ~ .slider-viewer > img{
    left: 0;
}
#r2:checked ~ .slider-viewer > img{
    left: -128%;
}
#r3:checked ~ .slider-viewer > img{
    left: -235%;
}
#r4:checked ~ .slider-viewer > img{
    left: -344%;
}
#r5:checked ~ .slider-viewer > img{
    left:  -456%;
}


#r1:checked ~ .buttom > .text > p{
    left: 0;
}
#r2:checked ~ .buttom > .text > p{
    left: -120%;
}
#r3:checked ~ .buttom > .text > p{
    left: -240%;
}
#r4:checked ~ .buttom > .text > p{
    left: -350%;
}
#r5:checked ~ .buttom > .text > p{
    left:  -455%;
}


.bullet:hover > .checkmark{
    background-color: white;
    border-color: white;
}


@media(max-width:768px){
    .buttom{
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .text{

        width: 100%;

    }
    p{
        margin-right: 100%;
    }
    
    .bullets{
        width: 100%;
        display: flex;
    }
}